@import url("https://fonts.cdnfonts.com/css/cursed-timer-ulil");

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  background: #db0493;
  padding: 70px 80px;
}

.team {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #eeeeee;
  margin-bottom: 20px;
}

.score {
  text-align: center;
  background: black;
  color: #f94f6d;
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 90px;
  border-radius: 5px;
  padding: 0 20px;
}

.btn-container {
  display: flex;
  margin-top: 25px;
  gap: 10px;
}

.btn {
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 18px;
  background: #1b244a;
  color: #9aabd8;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  padding: 10px;
}

.btn-newgame {
  width: 120px;
  margin: 0 auto;
  margin-top: 10px;
}
